@charset "UTF-8";
input[type=radio] {
display: none; /* ラジオボタンを非表示にする */
}

input[type="radio"]:checked + label {
background: rgb(128, 64, 0);/* マウス選択時の背景色を指定する */
color: #ffffff; /* マウス選択時のフォント色を指定する */
}

input[type="radio"]:disabled + label {
background: #808080;/* マウス選択時の背景色を指定する */
color: #ffffff; /* マウス選択時のフォント色を指定する */
}

.label {
display: block; /* ブロックレベル要素化する */
float: left; /* 要素の左寄せ・回り込を指定する */
margin: 0px; /* ボックス外側の余白を指定する */
width: 30px; /* ボックスの横幅を指定する */
height: 30px; /* ボックスの高さを指定する */
padding-left: 0px; /* ボックス内左側の余白を指定する */
padding-right: 0px; /* ボックス内御右側の余白を指定する */
border: 2px solid #000000;/* ボックスの境界線を実線で指定する */
border-radius: 100px; /* 角丸を指定する */
}

.tree {
	position:  absolute;        /* 要素の配置方法を指定 */
    padding:  10px;             /* 余白指定 */
    border: 1px solid #000000; /* ボックスの境界線を実線で指定する */
    width: 120px; /* ボックスの横幅を指定する */
	height: 100px; /* ボックスの高さを指定する */
	left:  800px;        /*の位置指定 */
    top: 300px;                  /* 上からの位置指定 */
    text-align: center;			/* テキストのセンタリングを指定する */
    border-radius: 80px; /* 角丸を指定する */
    background-color:  rgb(255, 181, 181);		/* 背景色を指定する */
}
.door {
	position:  absolute;        /* 要素の配置方法を指定 */
    padding:  10px;             /* 余白指定 */
    border: 1px solid #000000; /* ボックスの境界線を実線で指定する */
    width: 120px; /* ボックスの横幅を指定する */
	height: 10px; /* ボックスの高さを指定する */
	left:  50px;                /* 左からの位置指定 */
    top: 100px;                  /* 上からの位置指定 */
    text-align: center;			/* テキストのセンタリングを指定する */
    background-color: rgb(0, 128, 0);		/* 背景色を指定する */
}
.etc {
	position:  absolute;        /* 要素の配置方法を指定 */
    padding:  10px;             /* 余白指定 */
    border: 1px solid #000000; /* ボックスの境界線を実線で指定する */
    width: 90px; /* ボックスの横幅を指定する */
	height: 400px; /* ボックスの高さを指定する */
	left:  10px;                /* 左からの位置指定 */
    top: 190px;                  /* 上からの位置指定 */
    text-align: center;			/* テキストのセンタリングを指定する */
    background-color: rgb(0, 128, 0);		/* 背景色を指定する */
}
.waku {
	position:  absolute;        /* 要素の配置方法を指定 */
    padding:  10px;             /* 余白指定 */
    border: 1px solid #000000; /* ボックスの境界線を実線で指定する */
    width: 1500px; /* ボックスの横幅を指定する */
	height: 550px; /* ボックスの高さを指定する */

}

.stair_1 {
	position:  absolute;        /* 要素の配置方法を指定 */
    padding:  0px;             /* 余白指定 */
	left: 200px;                /* 左からの位置指定 */
    top: 550px;                  /* 上からの位置指定 */
}
.trapezoid_base {
  	width: 1200px; /* 幅 */
  	height: 0px; /* y位置 */
  	border-bottom: 100px solid rgb(0, 128, 0); /* 高さ */
  	border-left: 30px solid transparent; /* 左側の角度 */
  	border-right: 30px solid transparent; /* 右側の角度 */
}
.trapezoid_back {
	left: 198.5px;
	top: 549px;
  	width: 1203px; /* 幅 */
  	height: 0px; /* y位置 */
  	border-bottom: 102px solid #000000; /* 高さ */
  	border-left: 30px solid transparent; /* 左側の角度 */
  	border-right: 30px solid transparent; /* 右側の角度 */
}
.trapezoid_up {
	top: 600px;
  	width: 1232px; /* 幅 */
  	height: 0px; /* y位置 */
  	border-bottom: 50px solid #004000; /* 高さ */
  	border-left: 14px solid transparent; /* 左側の角度 */
  	border-right: 14px solid transparent; /* 右側の角度 */
}

.long_common{
	position:  absolute;        /* 要素の配置方法を指定 */
    padding:  0px;             /* 余白指定 */
	width: 120px; /* ボックスの横幅を指定する */
	height: 270px; /* ボックスの高さを指定する */
	border: 1px solid #000000;		/* ボックスの境界線を実線で指定する */
	border-radius: 10px; /* 角丸を指定する */
	background-color: rgb(0, 128, 0);		/* 背景色を指定する */
}
.long_1{
	left: 300px;                /* 左からの位置指定 */
    top: 245px;                  /* 上からの位置指定 */
}
.long_2{
	left: 575px;                /* 左からの位置指定 */
    top: 245px;                  /* 上からの位置指定 */
}
.long_3{
	left: 1025px;                /* 左からの位置指定 */
    top: 245px;                  /* 上からの位置指定 */
}
.long_4{
	left: 1300px;                /* 左からの位置指定 */
    top: 245px;                  /* 上からの位置指定 */
}
.table_common {
	position:  absolute;        /* 要素の配置方法を指定 */
    padding:  0px;             /* 余白指定 */
    background-color: rgb(0, 128, 0);		/* 背景色を指定する */
    width:  150px;              /* 幅指定 */
    height: 70px;               /* 高さ指定 */
    text-align: center;			/* テキストのセンタリングを指定する */
    border: 1px solid #000000;		/* ボックスの境界線を実線で指定する */
}
.table_1 {
    left: 250px;                /* 左からの位置指定 */
    top: 100px;                  /* 上からの位置指定 */
}
.table_2 {
    left: 400px;                /* 左からの位置指定 */
    top: 100px;                  /* 上からの位置指定 */
}
.table_3 {
    left: 550px;                /* 左からの位置指定 */
    top: 100px;                  /* 上からの位置指定 */
}
.table_4 {
    left: 700px;                /* 左からの位置指定 */
    top: 100px;                  /* 上からの位置指定 */
}
.table_5 {
    left: 850px;                /* 左からの位置指定 */
    top: 100px;                  /* 上からの位置指定 */
}
.table_6 {
    left: 1000px;                /* 左からの位置指定 */
    top: 100px;                  /* 上からの位置指定 */
}
.table_7 {
    left: 1150px;                /* 左からの位置指定 */
    top: 100px;                  /* 上からの位置指定 */
}
.table_8 {
    left: 1300px;                /* 左からの位置指定 */
    top: 100px;                  /* 上からの位置指定 */
}
.seat_common {
	position:  absolute;        /* 要素の配置方法を指定 */
    padding:  0px;             /* 余白指定 */
}
.seat_1 {
    left:  310px;                /* 左からの位置指定 */
    top: 180px;                  /* 上からの位置指定 */
}
.seat_2 {
    left: 460px;                /* 左からの位置指定 */
    top: 180px;                  /* 上からの位置指定 */
}
.seat_3 {
    left: 610px;                /* 左からの位置指定 */
    top: 180px;                  /* 上からの位置指定 */
}
.seat_4 {
    left: 760px;                /* 左からの位置指定 */
    top: 180px;                  /* 上からの位置指定 */
}
.seat_5 {
    left: 910px;                /* 左からの位置指定 */
    top: 180px;                  /* 上からの位置指定 */
}
.seat_6 {
    left: 1060px;                /* 左からの位置指定 */
    top: 180px;                  /* 上からの位置指定 */
}
.seat_7 {
    left: 1210px;                /* 左からの位置指定 */
    top: 180px;                  /* 上からの位置指定 */
}
.seat_8 {
    left: 1360px;                /* 左からの位置指定 */
    top: 180px;                  /* 上からの位置指定 */
}


.seat_9 {
    left: 250px;                /* 左からの位置指定 */
    top: 280px;                  /* 上からの位置指定 */
}
.seat_10 {
    left: 440px;                /* 左からの位置指定 */
    top: 280px;              /* 上からの位置指定 */
}
.seat_11 {
    left: 525px;                /* 左からの位置指定 */
    top: 280px;              /* 上からの位置指定 */
}
.seat_12 {
    left: 715px;                /* 左からの位置指定 */
    top: 280px;              /* 上からの位置指定 */
}
.seat_13 {
    left: 975px;                /* 左からの位置指定 */
    top: 280px;              /* 上からの位置指定 */
}
.seat_14 {
    left: 1165px;                /* 左からの位置指定 */
    top: 280px;              /* 上からの位置指定 */
}
.seat_15 {
    left: 1250px;                /* 左からの位置指定 */
    top: 280px;              /* 上からの位置指定 */
}
.seat_16 {
    left: 1440px;                /* 左からの位置指定 */
    top: 280px;              /* 上からの位置指定 */
}


.seat_17 {
    left: 250px;                /* 左からの位置指定 */
    top: 365px;              /* 上からの位置指定 */
}
.seat_18 {
    left: 440px;                /* 左からの位置指定 */
    top: 365px;              /* 上からの位置指定 */
}
.seat_19 {
    left: 525px;                /* 左からの位置指定 */
    top: 365px;              /* 上からの位置指定 */
}
.seat_20 {
    left: 715px;                /* 左からの位置指定 */
    top: 365px;              /* 上からの位置指定 */
}
.seat_21 {
    left: 975px;                /* 左からの位置指定 */
    top: 365px;              /* 上からの位置指定 */
}
.seat_22 {
    left: 1165px;                /* 左からの位置指定 */
    top: 365px;              /* 上からの位置指定 */
}
.seat_23 {
    left: 1250px;                /* 左からの位置指定 */
    top: 365px;              /* 上からの位置指定 */
}
.seat_24 {
    left: 1440px;                /* 左からの位置指定 */
    top: 365px;              /* 上からの位置指定 */
}


.seat_25 {
    left: 250px;                /* 左からの位置指定 */
    top: 450px;              /* 上からの位置指定 */
}
.seat_26 {
    left: 440px;                /* 左からの位置指定 */
    top: 450px;              /* 上からの位置指定 */
}
.seat_27 {
    left: 525px;                /* 左からの位置指定 */
    top: 450px;              /* 上からの位置指定 */
}
.seat_28 {
    left: 715px;                /* 左からの位置指定 */
    top: 450px;              /* 上からの位置指定 */
}
.seat_29 {
    left: 975px;                /* 左からの位置指定 */
    top: 450px;              /* 上からの位置指定 */
}
.seat_30 {
    left: 1165px;                /* 左からの位置指定 */
    top: 450px;              /* 上からの位置指定 */
}
.seat_31 {
    left: 1250px;                /* 左からの位置指定 */
    top: 450px;              /* 上からの位置指定 */
}
.seat_32 {
    left: 1440px;                /* 左からの位置指定 */
    top: 450px;              /* 上からの位置指定 */
}


.seat_33 {
    left: 250px;                /* 左からの位置指定 */
    top: 558px;              /* 上からの位置指定 */
}
.seat_34 {
    left: 500px;                /* 左からの位置指定 */
    top: 558px;              /* 上からの位置指定 */
}
.seat_35 {
    left: 750px;                /* 左からの位置指定 */
    top: 558px;              /* 上からの位置指定 */
}
.seat_36 {
    left: 1000px;                /* 左からの位置指定 */
    top: 558px;              /* 上からの位置指定 */
}
.seat_37 {
    left: 1250px;                /* 左からの位置指定 */
    top: 558px;              /* 上からの位置指定 */
}
.seat_38 {
    left: 375px;                /* 左からの位置指定 */
    top: 608px;              /* 上からの位置指定 */
}
.seat_39 {
    left: 625px;                /* 左からの位置指定 */
    top: 608px;              /* 上からの位置指定 */
}
.seat_40 {
    left: 875px;                /* 左からの位置指定 */
    top: 608px;              /* 上からの位置指定 */
}
.seat_41 {
    left: 1125px;                /* 左からの位置指定 */
    top: 608px;              /* 上からの位置指定 */
}
.seat_42 {
    left: 1375px;                /* 左からの位置指定 */
    top: 608px;              /* 上からの位置指定 */
}





.ok {
	position:  absolute;        /* 要素の配置方法を指定 */
    padding:  0px;             /* 余白指定 */
    top: 680px;                  /* 上からの位置指定 */
}
.back {
	position:  absolute;        /* 要素の配置方法を指定 */
    padding:  0px;             /* 余白指定 */
    left: 50px;
    top: 680px;                  /* 上からの位置指定 */
}

.table {
	position:  absolute;        /* 要素の配置方法を指定 */
    padding:  0px;             /* 余白指定 */
    left: 120px;                /* 左からの位置指定 */
    top: 680px;                  /* 上からの位置指定 */
    text-align: center;			/* テキストのセンタリングを指定する */
}
.check {
	position:  absolute;        /* 要素の配置方法を指定 */
    padding:  0px;             /* 余白指定 */
    left: 550px;
    top: 680px;                  /* 上からの位置指定 */
}
