@charset "UTF-8";

* {
	box-sizing: border-box;
}

a {
   text-decoration: none;
   color: #4b4b4b;

}

ul {
   list-style: none;
   margin: 0;
}

li {
   margin: 0 0 0 15px;
   font-size: 14px;
   display: inline;
}

nav {
   margin: 0 0 0 auto;
   position: relative;
   top: 60%;
   text-align: center;
}


/*========= ページトップのためのCSS ===============*/

#page-top a{
  background:#942D2F;
  color:#fff;
  text-align: center;
  display: block;
  text-decoration: none;
  padding:20px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.8rem;
  transition: all 0.3s;
}

#page-top a:hover{
  background: #777;
}

/*========= レイアウトのためのCSS ===============*/


small{
  background:#333;
  color:#fff;
  display: block;
  text-align: center;
  padding:20px;
}

section{
  padding:100px 30px;
}

section:nth-child(2n){
  background:#f3f3f3;
}

#footer{
  position: relative;
  z-index: 2;
}
