<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SWAROID</title>
<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="stylesheet" type="text/css" href="/tag.css">
</head>
<body>
<span><input th:replace="../static/reserveTag.html"></span>
	<br>
	<br>
	<br>
	<br>
	<h2>本日の予約</h2>
<span th:text="${ERROR}" style="color:red"></span>
	<table border="0" class="table">

		<tr>
			<th>予約番号</th>
			<th>会議室</th>
			<th>座席</th>
			<th>予約日</th>
			<th>開始時間</th>
			<th>終了時間</th>
			<th>開始</th>
			<th>終了</th>
			<th>利用開始時間</th>
			<th>利用終了時間</th>
		</tr>
		<tr th:each="list:${reserveList}">
			<td th:text="${list.code}"></td>
			<td th:text="${list.room}"></td>
			<td th:text="${list.seat}"></td>
			<td th:text="${list.date}"></td>
			<td th:text="${list.start}"></td>
			<td th:text="${list.finish}"></td>
			<td>
			<form action="/start" method="post">
			<input type="hidden" name="list.code" th:value="${list.code}">
			<input type="hidden" name="list.start" th:value="${list.start}">
			<input type="hidden" name="list.finish" th:value="${list.finish}">
			<input type="submit" th:value="利用を開始する" th:disabled="${list.checkinStart != null}">
			</form>
			</td>
			<td>
				<form action="/finish" method="post">
			<input type="hidden" name="list.code" th:value="${list.code}">
			<input type="hidden" name="list.finish" th:value="${list.finish}">
			<input type="submit" th:value="利用を終了する" th:disabled="${list.checkoutFinish != null || d == true}">
			</form>
			</td>
			<td th:text="${list.checkinStartView}"></td>
			<td th:text="${list.checkoutFinishView}"></td>


		</tr>

	</table>
<br>
<a href="/main">メイン画面</a>

</body>
</html>