<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SWAOROID</title>
<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<h1>メッセージの新規作成</h1>
<form action="/send" method="post">
<span class="error" th:text="${ERROR}" style="color : red " ></span>
<table border="1">
		<tr>
			<th>TO</th>
			<th>メールアドレス</th>
			<th>FROM</th>
			<th>メッセージ</th>
		</tr>
		<tr>

			<td th:text="${to}"></td>
			<td th:text="${email}"></td>
			<td th:text="${from}"></td>
			<td><input type="text" name="MESSAGE" th:value="${MESSAGE}"></td>
		</tr>
	</table>
<input type="submit" value="送信">
<span class="error" th:text="${RESULT}" style="color : red " ></span>
</form>
<br>
<a href="/main">メイン画面</a>
</body>
</html>