<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SWAOROID</title>
<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="stylesheet" type="text/css" href="/tag.css">
</head>
<body>
<span><input th:replace="../static/reserveTag.html"></span>
	<br>
	<br>
	<br>
	<br>
	<h2>メッセージの新規作成</h2>
	<form action="/sendMaster" method="post">
		<span class="error" th:text="${ERROR}" style="color: red"></span>
		<table border="1">
			<tr>
				<th>TO</th>
				<th>会員番号</th>
				<th>メールアドレス</th>
				<th>メッセージ</th>
			</tr>
			<tr>
				<td th:text="${to}" th:value="${to}"></td>
				<td th:text="${userscode}" th:value="${userscode}"></td>
				<td th:text="${email}" th:value="${email}"></td>
				<td><input type="text" name="MESSAGE" th:value="${MESSAGE}">
					<input type="hidden" name="to" th:value="${to}"> <input
					type="hidden" name="userscode" th:value="${userscode}"> <input
					type="hidden" name="email" th:value="${email}"></td>
			</tr>
		</table>
		<input type="submit" value="送信"> <span class="error"
			th:text="${RESULT}" style="color: red"></span>
	</form>
	<br>
<a href="/masterMain">メイン画面</a>
</body>
</html>