
<div class="forest_1">
<input type="radio" name="forest" value="1" id="1" th:checked="${session.forest == 1}">
<label for="1" class="label"></label>
</div>

<div class="forest_2">
<input type="radio" name="forest" value="2" id="2" th:checked="${session.forest == 2}">
<label for="2" class="label"></label>
</div>

<div class="forest_3">
<input type="radio" name="forest" value="3" id="3" th:checked="${session.forest == 3}">
<label for="3" class="label"></label>
</div>

<div class="forest_4">
<input type="radio" name="forest" value="4" id="4" th:checked="${session.forest == 4}">
<label for="4" class="label"></label>
</div>

<div class="forest_5">
<input type="radio" name="forest" value="5" id="5" th:checked="${session.forest == 5}">
<label for="5" class="label"></label>
</div>

<div class="forest_6">
<input type="radio" name="forest" value="6" id="6" th:checked="${session.forest == 6}">
<label for="6" class="label"></label>
</div>

<div class="forest_7">
<input type="radio" name="forest" value="7" id="7" th:checked="${session.forest == 7}">
<label for="7" class="label"></label>
</div>

<div class="forest_8">
<input type="radio" name="forest" value="8" id="8" th:checked="${session.forest == 8}">
<label for="8" class="label"></label>
</div>

<div class="forest_9">
<input type="radio" name="forest" value="9" id="9" th:checked="${session.forest == 9}">
<label for="9" class="label"></label>
</div>

<div class="forest_10">
<input type="radio" name="forest" value="10" id="10" th:checked="${session.forest == 10}">
<label for="10" class="label"></label>
</div>

<div class="table_1">table</div>