<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<title>SWAROID</title>
<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="stylesheet" type="text/css" href="home.css">
<link rel="stylesheet" type="text/css" href="tag.css">
</head>

<body>
<span><input th:replace="../static/homeTag.html"></span>
<br>
<br>
<br>
<br>
<br>
<span class="fa-stack-1x error" th:text="${RESULT}" style="color:red"></span><br>
<form action="/login" method="post" class="login-form">
<p class="login-text">
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-lock fa-stack-1x"></i>
  </span>
</p>
<input type="email" name="email" th:value="${email}" class="login-username" autofocus="true" required="true" placeholder="Email" />
<input type="password" name="password" class="login-password" required="true" placeholder="Password" />
<input type="submit" name="Login" value="Login" class="login-submit" />
</form>
<br>
</body>
</html>