<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<title>SWAROID</title>
<link rel="stylesheet" type="text/css" href="tag.css">
<link rel="stylesheet" type="text/css" href="h1body.css">
<link rel="stylesheet" type="text/css" href="loading.css">
</head>

<body>
<div id="splash">
<div id="splash_text"></div>
<!--/splash--></div>
<div id="container">

<ul class="tab">
<li><a href="#index">ログイン</a></li>
<li><a href="#new">新規会員登録</a></li>
<li><a href="#master">管理者</a></li>
</ul>

<div id="index" class="area">
<input th:replace="indexmoto">

<!--/area--></div>

<div id="new" class="area">
<input th:replace="new">

<!--/area--></div>

<div id="master" class="area">
<input th:replace="masterIndex">

<!--/area--></div>



<!--/container--></div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://rawgit.com/kimmobrunfeldt/progressbar.js/master/dist/progressbar.min.js"></script>
<!--IE11用-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script><!--不必要なら削除してください-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js"></script><!--不必要なら削除してください-->
<!--自作のJS-->
<script src="loading.html"></script>
<script src="tag.html"></script>

</body>
</body>
</html>