<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="forest.style.css">
<title>SWAROID</title>
</head>
<body>
<h1>確認画面</h1>


<div class="forest_1">
<input type="radio" name="forest" value="1" id="1" th:checked="${session.forest == 1}" disabled>
<label for="1" class="label"></label>
</div>

<div class="forest_2">
<input type="radio" name="forest" value="2" id="2" th:checked="${session.forest == 2}" disabled>
<label for="2" class="label"></label>
</div>

<div class="forest_3">
<input type="radio" name="forest" value="3" id="3" th:checked="${session.forest == 3}" disabled>
<label for="3" class="label"></label>
</div>

<div class="forest_4">
<input type="radio" name="forest" value="4" id="4" th:checked="${session.forest == 4}" disabled>
<label for="4" class="label"></label>
</div>

<div class="forest_5">
<input type="radio" name="forest" value="5" id="5" th:checked="${session.forest == 5}" disabled>
<label for="5" class="label"></label>
</div>

<div class="forest_6">
<input type="radio" name="forest" value="6" id="6" th:checked="${session.forest == 6}" disabled>
<label for="6" class="label"></label>
</div>

<div class="forest_7">
<input type="radio" name="forest" value="7" id="7" th:checked="${session.forest == 7}" disabled>
<label for="7" class="label"></label>
</div>

<div class="forest_8">
<input type="radio" name="forest" value="8" id="8" th:checked="${session.forest == 8}" disabled>
<label for="8" class="label"></label>
</div>

<div class="forest_9">
<input type="radio" name="forest" value="9" id="9" th:checked="${session.forest == 9}" disabled>
<label for="9" class="label"></label>
</div>

<div class="forest_10">
<input type="radio" name="forest" value="10" id="10" th:checked="${session.forest == 10}" disabled>
<label for="10" class="label"></label>
</div>

<div class="table_1">table</div>


<table border="1" class="table">
<tr>
	<th th:text="会議室"></th>
	<th th:text="予約日"></th>
	<th th:text="START"></th>
	<th th:text="FINISH"></th>
</tr>
<tr>
	<td th:text="${session.roomname}"></td>
	<td th:text="${session.date}"></td>
	<td th:text="${session.start}"></td>
	<td th:text="${session.finish}"></td>
</tr>
</table>
<span class="check" th:text="上記内容でよろしいですか？"></span>

<div class="ok">
<form action="/infoconfirm" method="get">
<input type="submit" value="確認">
</form>
<form action="/seat" method="post">
<input type="submit" value="戻る">
</form>
</div>


</body>
</html>