<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:if="${session.roomcode == 1}" rel="stylesheet" href="forest.style.css">
<link th:if="${session.roomcode == 2}" rel="stylesheet" href="ocean.style.css">
<link rel="stylesheet" type="text/css" href="/tag.css">
<title>SWAROID</title>
</head>
<body>
<span><input th:replace="../static/reserveTag.html"></span>
	<br>
	<br>
	<br>
	<br>



<span th:if="${session.roomcode == 1}"><input th:replace="forestcheck"></span>
<span th:if="${session.roomcode == 2}"><input th:replace="oceancheck"></span>


<table border="0" class="table">
<tr>
	<th th:text="会議室"></th>
	<th th:text="座席"></th>
	<th th:text="予約日"></th>
	<th th:text="START"></th>
	<th th:text="FINISH"></th>
</tr>
<tr>
	<td th:text="${session.roomname}"></td>
	<td th:text="${session.seat}"></td>
	<td th:text="${session.date}"></td>
	<td th:text="${session.start}"></td>
	<td th:text="${session.finish}"></td>
</tr>
</table>
<span class="check" th:text="この内容でよろしいですか？"></span>

<a class="ok">
<form action="/infoconfirm" method="get">
<input type="submit" value="確認">
</form>
</a>
<a class="back">
<form action="/room" method="get">
<input type="submit" value="戻る">
</form>
</a>


</body>
</html>