<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:if="${session.roomcode == 1}" rel="stylesheet" href="forest.style.css">
<link th:if="${session.roomcode == 2}" rel="stylesheet" href="ocean.style.css">
<title>SWAROID</title>
</head>
<body>
<h1>確認画面</h1>


<span th:if="${session.roomcode == 1}" th:replace="forestcheck"></span>


<table border="1" class="table">
<tr>
	<th th:text="会議室"></th>
	<th th:text="座席"></th>
	<th th:text="予約日"></th>
	<th th:text="START"></th>
	<th th:text="FINISH"></th>
</tr>
<tr>
	<td th:text="${session.roomname}"></td>
	<td th:text="${session.seat}"></td>
	<td th:text="${session.date}"></td>
	<td th:text="${session.start}"></td>
	<td th:text="${session.finish}"></td>
</tr>
</table>
<span class="check" th:text="上記内容でよろしいですか？"></span>

<div class="ok">
<form action="/infoconfirm" method="get">
<input type="submit" value="確認">
</form>
<form action="/seat" method="post">
<input type="submit" value="戻る">
</form>
</div>


</body>
</html>