<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="UTF-8">
<title>SWAOROID</title>
<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="stylesheet" type="text/css" href="/tag.css">
</head>
<body>
<span><input th:replace="../static/reserveTag.html"></span>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<img th:src="SWAROID.png" th:alt="logo">

<div class="scrolldown1"><span>Scroll</span></div>

<h2>～SWAROIDの使い方～</h2>
各タブの説明<br>
RESERVE：座席予約<br>
RECORD：予約履歴を参照<br>
CHECKIN・OUT：<br>
CONTACT：<br>
<br>
予約の流れ<br>
RESERVEタブから、利用する会議室を選択<br>
↓<br>


  <div class="scrolldown1"><span>Scroll</span></div>

<br>
<br>
<br>
<br>
<br>
<br>
<h2>～About SWAROID～</h2>
「キャッチコピー」<br>
<h3>特徴</h3>

</body>
</html>