<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SWAROID</title>
<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="stylesheet" type="text/css" href="/tag.css">
</head>
<body>
<span><input th:replace="../static/masterTag.html"></span>
	<br>
	<br>
	<br>
	<br>
	<h2>ユーザ一覧</h2>

	<table border="0" class="table">

		<tr>
			<th>ユーザコード</th>
			<th>名前</th>
			<th>メールアドレス</th>
			<th>電話番号</th>
		</tr>
		<tr th:each="list:${userList}">
			<td th:text="${list.code}"></td>
			<td th:text="${list.name}"></td>
			<td th:text="${list.email}"></td>
			<td th:text="${list.tel}"></td>
		</tr>

	</table>
<br>
<a href="/masterMain">メイン画面</a>
</body>
</html>