<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SWAROID</title>
</head>
<body>
<h1>管理者画面「SWAOROID」</h1>
<br>
<span th:text="${RESULT}" style="color:red"></span><br>
<form action="/masterLogin" method="post">
メールアドレス：<input type="text" name="account" th:value="${account}"><span th:text="${message1}" style="color:red"></span><br>
パスワード：<input type="password" name="password"><span th:text="${message2}" style="color:red"></span><br>
	<input type="submit" value="ログイン">
</form>
<br>
<a href="/">ユーザ画面</a>
</body>
</html>