<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<title>SWAROID</title>
<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="stylesheet" type="text/css" href="tag.css">
</head>

<body>
<span><input th:replace="../static/homeTag.html"></span>
<br>
<br>
<br>
<br>
<h2>ログイン：管理者用</h2>
<br>
<span th:text="${RESULT}" style="color:red"></span><br>
<form action="/masterLogin" method="post">
メールアドレス：<input type="text" name="account" th:value="${account}"><span th:text="${message1}" style="color:red"></span><br>
パスワード：<input type="password" name="password"><span th:text="${message2}" style="color:red"></span><br>
	<input type="submit" value="ログイン">
</form>
<br>
</body>
</html>