<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SWAROID</title>
<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="stylesheet" type="text/css" href="/tag.css">
</head>
<body>
<span><input th:replace="../static/masterTag.html"></span>
	<br>
	<br>
	<br>
	<br>
	<h2>予約一覧</h2>

	<form action="/search" method="get">
	<input type="checkbox" name="forest" value="THE Forest Room" th:checked="${Forest} == true">Forest
	<input type="checkbox" name="ocean" value="THE Ocean Room" th:checked="${Ocean} == true">Ocean
	<input type="submit" value="検索">
	</form>
	<br>

	<table border="0" class="table">

		<tr>
			<th>予約番号</th>
			<th>ユーザコード</th>
			<th>登録日</th>
			<th>会議室</th>
			<th>座席</th>
			<th>予約日</th>
			<th>開始時間</th>
			<th>終了時間</th>

			<th></th>
		</tr>
		<tr th:each="list:${reserveList}">
		<form action="/masterCancel" method="get">
			<td th:text="${list.code}"></td>
			<td><a th:href="'/user/' + ${list.userscode}" th:text="${list.userscode}"></td>
			<td th:text="${list.ymd}"></td>
			<td th:text="${list.room}"></td>
			<td th:text="${list.seat}"></td>
			<td th:text="${list.date}"></td>
			<td th:text="${list.start}"></td>
			<td th:text="${list.finish}"></td>
			<td>
			<input type="hidden" name="list.code" th:value="${list.code}">
			<input type="submit" th:value="キャンセル">
			</td>
		</form>
		</tr>

	</table>
<br>
<a href="/masterMain">メイン画面</a>
</body>
</html>