<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SWAOROID</title>
<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="stylesheet" type="text/css" href="/tag.css">
<link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
<span><input th:replace="../static/masterTag.html"></span>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<img th:src="SWAROID.png" th:alt="logo">
<br>
<br>
<br>
<br>
<a href="/reserve" class="btn btn-svg">
  <svg>
    <rect x="2" y="2" rx="0" fill="none" width=400 height="100"></rect>
  </svg>
  <span>Reserve Control<br>：予約管理</span>
</a>

<a href="/user" class="btn btn-svg">
  <svg>
    <rect x="2" y="2" rx="0" fill="none" width=400 height="100"></rect>
  </svg>
  <span>User Control<br>：ユーザー管理</span>
</a>

<a href="/messageMaster" class="btn btn-svg">
  <svg>
    <rect x="2" y="2" rx="0" fill="none" width=400 height="100"></rect>
  </svg>
  <span>Message<br>：メッセージ管理</span>
</a>

</body>
</html>