<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<title>SWAROID</title>
<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="stylesheet" type="text/css" href="new.css">
<link rel="stylesheet" type="text/css" href="tag.css">
</head>

<body>
<span><input th:replace="../static/homeTag.html"></span>

<form action="/new" method="post">
<h2>Sign up</h2>

<span class="input"></span>
<span th:text="${RESULT}" style="color:red"></span><br>
<input type="text" name="name" th:value="${name}"placeholder="Full name" title="Format: Xx[space]Xx (e.g. Alex Cican)" autofocus autocomplete="off" required />

<span class="input"></span>
<input type="email" name="email" th:value="${email}" placeholder="Email address" required />

<span class="input"></span>
<input type="tel" name="tel" th:value="${tel}" placeholder="Tel number" title="Format: (e.g. 000-0000-0000)" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" required />

<span id="passwordMeter"></span>
<input type="password" name="password" id="password" placeholder="Password" title="Password min 8 characters. At least one UPPERCASE and one lowercase letter" required pattern="(?=^.{8,}$)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"/>

<button type="submit" value="Sign up" title="Submit form" class="icon-arrow-right">
<span>Sign up</span>
</button>
</form>
</body>
</html>