
<div class="seat_1">
<input type="radio" name="seat" value="1" id="1">
<label for="1" class="label"></label>
</div>

<div class="seat_2">
<input type="radio" name="seat" value="2" id="2">
<label for="2" class="label"></label>
</div>

<div class="seat_3">
<input type="radio" name="seat" value="3" id="3">
<label for="3" class="label"></label>
</div>

<div class="seat_4">
<input type="radio" name="seat" value="4" id="4">
<label for="4" class="label"></label>
</div>

<div class="seat_5">
<input type="radio" name="seat" value="5" id="5">
<label for="5" class="label"></label>
</div>

<div class="seat_6">
<input type="radio" name="seat" value="6" id="6">
<label for="6" class="label"></label>
</div>

<div class="seat_7">
<input type="radio" name="seat" value="7" id="7">
<label for="7" class="label"></label>
</div>

<div class="seat_8">
<input type="radio" name="seat" value="8" id="8">
<label for="8" class="label"></label>
</div>

<div class="seat_9">
<input type="radio" name="seat" value="9" id="9">
<label for="9" class="label"></label>
</div>

<div class="seat_10">
<input type="radio" name="seat" value="10" id="10">
<label for="10" class="label"></label>
</div>

<div class="table_1">table</div>