<div class="waku"></div>


<div class="seat_1 seat_common">
<input type="radio" name="seat" value="1" id="1" th:disabled="${s1==true}">
<label for="1" class="label"></label>
</div>
<div class="seat_2 seat_common">
<input type="radio" name="seat" value="2" id="2">
<label for="2" class="label"></label>
</div>
<div class="seat_3 seat_common">
<input type="radio" name="seat" value="3" id="3">
<label for="3" class="label"></label>
</div>
<div class="seat_4 seat_common">
<input type="radio" name="seat" value="4" id="4">
<label for="4" class="label"></label>
</div>
<div class="seat_5 seat_common">
<input type="radio" name="seat" value="5" id="5">
<label for="5" class="label"></label>
</div>
<div class="seat_6 seat_common">
<input type="radio" name="seat" value="6" id="6">
<label for="6" class="label"></label>
</div>
<div class="seat_7 seat_common">
<input type="radio" name="seat" value="7" id="7">
<label for="7" class="label"></label>
</div>


<div class="seat_8 seat_common">
<input type="radio" name="seat" value="8" id="8">
<label for="8" class="label"></label>
</div>
<div class="seat_9 seat_common">
<input type="radio" name="seat" value="9" id="9">
<label for="9" class="label"></label>
</div>
<div class="seat_10 seat_common">
<input type="radio" name="seat" value="10" id="10">
<label for="10" class="label"></label>
</div>
<div class="seat_11 seat_common">
<input type="radio" name="seat" value="11" id="11">
<label for="11" class="label"></label>
</div>


<div class="sofa_1 sofa_common"></div>
<div class="sofa_2 sofa_common"></div>
<div class="sofa_3 sofa_common"></div>
<div class="sofa_4 sofa_common"></div>
<div class="sofa_5 sofa_common"></div>


<div class="seat_12 seat_common">
<input type="radio" name="seat" value="12" id="12">
<label for="12" class="label"></label>
</div>
<div class="seat_13 seat_common">
<input type="radio" name="seat" value="13" id="13">
<label for="13" class="label"></label>
</div>
<div class="seat_14 seat_common">
<input type="radio" name="seat" value="14" id="14">
<label for="14" class="label"></label>
</div>
<div class="seat_15 seat_common">
<input type="radio" name="seat" value="15" id="15">
<label for="15" class="label"></label>
</div>
<div class="seat_16 seat_common">
<input type="radio" name="seat" value="16" id="16">
<label for="16" class="label"></label>
</div>


<div class="seat_17 seat_common">
<input type="radio" name="seat" value="17" id="17">
<label for="17" class="label"></label>
</div>
<div class="seat_18 seat_common">
<input type="radio" name="seat" value="18" id="18">
<label for="18" class="label"></label>
</div>
<div class="seat_19 seat_common">
<input type="radio" name="seat" value="19" id="19">
<label for="19" class="label"></label>
</div>
<div class="seat_20 seat_common">
<input type="radio" name="seat" value="20" id="20">
<label for="20" class="label"></label>
</div>
<div class="seat_21 seat_common">
<input type="radio" name="seat" value="21" id="21">
<label for="21" class="label"></label>
</div>
<div class="seat_22 seat_common">
<input type="radio" name="seat" value="22" id="22">
<label for="22" class="label"></label>
</div>


<div class="seat_23 seat_common">
<input type="radio" name="seat" value="23" id="23">
<label for="23" class="label"></label>
</div>
<div class="seat_24 seat_common">
<input type="radio" name="seat" value="24" id="24">
<label for="24" class="label"></label>
</div>
<div class="seat_25 seat_common">
<input type="radio" name="seat" value="25" id="25">
<label for="25" class="label"></label>
</div>
<div class="seat_26 seat_common">
<input type="radio" name="seat" value="26" id="26">
<label for="26" class="label"></label>
</div>
<div class="seat_27 seat_common">
<input type="radio" name="seat" value="27" id="27">
<label for="27" class="label"></label>
</div>
<div class="seat_28 seat_common">
<input type="radio" name="seat" value="28" id="28">
<label for="28" class="label"></label>
</div>


<div class="table_1 table_common">table</div>
<div class="table_2 table_common">table</div>
<div class="table_3 table_common">table</div>
<div class="table_4 table_common">table</div>
<div class="table_5 table_common">table</div>
<div class="table_6 table_common">table</div>
<div class="table_7 table_common">table</div>
<div class="table_8 table_common2">table</div>
<div class="table_9 table_common2">table</div>
<div class="table_10 table_common2">table</div>
<div class="table_11 table_common2">table</div>


<div class="para_1 para_common">
	<div></div>
	<div></div>
	<div></div>
</div>
<div class="para_2 para_common">
	<div></div>
	<div></div>
	<div></div>
</div>


<div class="door">door</div>

<div class="etc">etc</div>


