<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SWAROID</title>
<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<h1>会議室</h1>

	<table border="1">
		<tr>
			<th>NO</th>
			<th>会議室名</th>
			<th>住所</th>
			<th>席数</th>
			<th></th>
		</tr>
		<tr th:each="room:${room}">
			<td th:text="${room.code}"></td>
			<td th:text="${room.name}"></td>
			<td th:text="${room.address}"></td>
			<td th:text="${room.seats}"></td>
		<form action="/info" method="get">
			<td><input type="submit" value="選択"></td>
			<input type="hidden" name="CODE" th:value="${room.code}" class="Button">
		</form>
		</tr>
	</table>

</body>
</html>