<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SWAROID</title>
<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="stylesheet" type="text/css" href="/tag.css">
<link rel="stylesheet" type="text/css" href="/room.css">
</head>

<body>
<input th:replace="../static/reserveTag.html">
<br>
<br>
<section class="section1">
<div class="container">
<img src="forest.jpg" width="600" height="300">
</div>
</section>
	<table border="0" class="table">
		<tr>
			<th>NO</th>
			<th>会議室名</th>
			<th>住所</th>
			<th>席数</th>
			<th></th>
		</tr>
		<tr th:each="room:${room}">
			<td th:text="${room.code}"></td>
			<td th:text="${room.name}"></td>
			<td th:text="${room.address}"></td>
			<td th:text="${room.seats}"></td>
		<form action="/info" method="get">
			<td><input type="submit" value="選択"></td>
			<input type="hidden" name="CODE" th:value="${room.code}" class="Button">
		</form>
		</tr>
	</table>
<section class="section2">
<div class="container">
<img src="ocean.jpg" width="600" height="300">
</div>
</section>

</body>
</html>