<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:if="${session.roomcode == 1}" rel="stylesheet" href="forest.style.css">
<link th:if="${session.roomcode == 2}" rel="stylesheet" href="ocean.style.css">
<style>
.label {
cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
}
.label:hover {
background-color: rgb(129, 129, 129); /* マウスオーバー時の背景色を指定する */
}
</style>
<title>SWAOROID</title>
</head>
<body>
<h1>座席表</h1>
<form action="/infocheck" method="get">

<span th:if="${session.roomcode == 1}" th:replace="forest"></span>
<span th:if="${session.roomcode == 2}" th:replace="ocean"></span>

<span th:text="${ERROR}"></span>

<div class="ok">
<input type="submit" value="確認">
</div>
</form>
</body>
</html>