<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="forest.style.css">
<title>SWAOROID</title>
</head>
<body>
<h1>座席表forest</h1>

<form action="/infocheck" method="get">
<div class="absolute_1">
<input type="radio" name="forest" value="1" id="1">
<label for="1" class="label"></label>
</div>

<div class="absolute_2">
<input type="radio" name="forest" value="2" id="2">
<label for="2" class="label"></label>
</div>

<div class="absolute_3">
<input type="radio" name="forest" value="3" id="3">
<label for="3" class="label"></label>
</div>

<div class="absolute_4">
<input type="radio" name="forest" value="4" id="4">
<label for="4" class="label"></label>
</div>

<div class="absolute_5">
<input type="radio" name="forest" value="5" id="5">
<label for="5" class="label"></label>
</div>

<div class="absolute_6">
<input type="radio" name="forest" value="6" id="6">
<label for="6" class="label"></label>
</div>

<div class="absolute_7">
<input type="radio" name="forest" value="7" id="7">
<label for="7" class="label"></label>
</div>

<div class="absolute_8">
<input type="radio" name="forest" value="8" id="8">
<label for="8" class="label"></label>
</div>

<div class="absolute_9">
<input type="radio" name="forest" value="9" id="9">
<label for="9" class="label"></label>
</div>

<div class="absolute_10">
<input type="radio" name="forest" value="10" id="10">
<label for="10" class="label"></label>
</div>

<div class="table_1">table</div>

<div class="ok">
<input type="submit" value="確認">
</div>
</form>
</body>
</html>